:root {
  --main-theme-color: #EA6900;
}

body{
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  overflow: auto;
}

/* Audio page */

.tracklist {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}
.control {
  padding: 5px;
  width: 60px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid var(--main-theme-color);
  cursor: pointer;
}
.control:hover {
 background-color: var(--main-theme-color);
 color: #fff;
}

/* Navigation pills */

.nav-container {
  display: flex; 
  width: 200px;
  justify-content: space-around;
  margin: auto;
  font-family: 'Nunito';
}
.nav-link {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 10px;
  margin: 5px 2px;
  border-radius: 20px;
  border: 1px solid var(--main-theme-color);
  background-color: #fff;
  color: #000;
  transition: background-color 500ms;
}
.nav-link.active {
  color: #fff;
  background-color: var(--main-theme-color);
}

/* List page */

.responsive-table div {
  border-radius: 3px;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  margin: auto auto;
}
.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.responsive-table .table-row {
  text-align: center;
  border-top: 2px solid var(--main-theme-color);
}
.responsive-table .col {
  justify-content: center;
}
.responsive-table .col-1 {
  flex-basis: 5%;
}
.responsive-table .col-2 {
  flex-basis: 5%;
}
.responsive-table .col-3 {
  flex-basis: 30%;
}
.responsive-table .col-4 {
  flex-basis: 60%;
}
.select {
  border-radius: 15px;
  margin-bottom: 5px;
  border: none;
  padding: 5px;
  border: 1px solid var(--main-theme-color);
}

/* Notification */ 

.notification-container {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.notification {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-theme-color);
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--main-theme-color);
  font-weight: 600;
}

@media all and (max-width: 768px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table div {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    flex-basis: 50%;
    text-align: right;
  }
  .track {
    width: 90%;
  }
}